@import 'variables';

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: font-url('ProximaNova-Reg-webfont.eot');
  src: font-url('ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('ProximaNova-Reg-webfont.woff2') format('woff2'),
    font-url('ProximaNova-Reg-webfont.woff') format('woff'),
    font-url('ProximaNova-Reg-webfont.ttf') format('truetype'),
    font-url('ProximaNova-Reg-webfont.svg') format('svg');
}

html, body {
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

header {
  display: block;
}

a {
  background-color: transparent;
  color: $nav-link;
  text-decoration: none;

  &:active, &:hover {
    outline: 0;
  }
}

img {
  border: 0;
  vertical-align: middle;
}

button {
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-stretch: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
}

* {
  box-sizing: border-box;
}

.sr-only {
  border: 0;
  clip: rect(0px0px0px0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

ul {
  font-style: normal;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: none !important;
  padding-left: 15px;
  padding-right: 35px;
  -webkit-font-smoothing: antialiased;
}

.btn {
  background-image: none;
  border-radius: 8px 0;
  border: 1px solid transparent;
  box-shadow: none;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.42857;
  margin-bottom: 0;
  margin-top: 1px;
  padding: 6px 20px !important;
  text-align: center;
  text-shadow: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;

  &:hover {
    color: #333;
    text-decoration: none;
  }

  &:active {
    background-image: none;
    box-shadow: rgba(0, 0, 0, 0.121569) 0 3px 5px inset;
    outline: 0;
  }
}

.btn-default {
  background-color: #fff;
  background-repeat: repeat-x;
  background: #0f80aa;
  color: #333;
  margin-right: 20px;
  text-shadow: #fff 0 1px 0;

  &:hover {
    background-color: #e0e0e0;
    background-position: 0 -15px;
    background: #0e759c !important;
    border-color: #0e759c;
    color: #333;
  }

  &:active {
    background-color: #e0e0e0;
    background-image: none;
    border-color: #dbdbdb;
    color: #333;
  }

  &:active:hover {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    color: #333;
  }
}

.btn-primary {
  background-color: #337ab7;
  background-repeat: repeat-x;
  background: #e4b722;
  border-color: #245580;

  &:hover {
    background-color: #265a88;
    background-position: 0 -15px;
    background: #dcaf1b !important;
    border-color: #dcaf1b;
  }

  &:active {
    background-color: #265a88;
    background-image: none;
    border-color: #245580;
  }

  &:active:hover {
    background-color: #204d74;
    border-color: #122b40;
  }
}

.nav {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  > li {
    display: block;
    position: relative;

    > a {
      display: block;
      padding: 10px 15px;
      position: relative;

      &:hover {
        background-color: #eee;
        text-decoration: none;
      }
    }
  }
}

.navbar {
  border: 1px solid transparent;
  margin-bottom: 20px;
  min-height: 50px;
  position: relative;
}

.navbar-collapse {
  overflow-x: visible;
}

.navbar-static-top {
  z-index: 1000;
  border-radius: 0;
  border-width: 0 0 1px;
}

.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border-radius: 4px;
  border: 1px solid transparent;
  float: right;
  margin-bottom: 8px;
  margin-right: 15px;
  margin-top: 8px;
  padding: 9px 10px;
  position: relative;

  .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;

    + .icon-bar {
      margin-top: 4px;
    }
  }
}

.navbar-nav {
  margin: 7.5px 0px;

  > li > a {
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 8px;
    text-shadow: rgba(255, 255, 255, 0.247059) 0 1px 0;
  }
}

.navbar-default {
  background-color: #f8f8f8;
  background-repeat: repeat-x;
  border-color: #e7e7e7;
  border-radius: 4px;
  box-shadow: rgba(255, 255, 255, 0.14902) 0 1px 0 inset, rgba(0, 0, 0, 0.0745098) 0 1px 5px;

  .navbar-nav > li > a {
    color: #777;

    &:hover {
      background-color: transparent;
      color: #333;
    }
  }

  .navbar-toggle {
    border: none;
    border-color: #ddd;
    margin-right: 0;
    margin-top: 0;
    padding: 8px 0;
    width: 25px;

    &:hover {
      background: transparent;
    }

    .icon-bar {
      background-color: #fff;
      height: 4px;
      width: 25px;
    }
  }

  .navbar-collapse {
    border-color: #e7e7e7;
  }
}

.btn-default, .btn-primary {
  box-shadow: rgba(255, 255, 255, 0.14902) 0 1px 0 inset, rgba(0, 0, 0, 0.0745098) 0 1px 1px;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;

  &:active {
    box-shadow: rgba(0, 0, 0, 0.121569) 0 3px 5px inset;
  }
}

.header {
  background: #262626;
  height: 85px;
  min-width: 980px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  transition: height 2s;
  width: 100%;
  z-index: 1200;

  .logo {
    padding-top: 8px;
    width: 166px;
  }

  .navbar {
    margin-bottom: 10px;
  }

  .navbar-default {
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;

    .navbar-nav {
      float: right;

      .btn-default {
        margin-left: 15px;
      }

      li > a {
        border: none;
        box-shadow: none;
        color: #999;
        font-size: 15px;
        text-shadow: none;
      }
    }
  }
}

.navbar-nav > li {
  float: left;
}

// Subnav Styles

.sub-nav {
  background-color: $sub-nav-bg;
  height: 60px;

  ul {
    float: left;
    list-style-type: none;
    margin: 0 5px;
    overflow: hidden;
    padding: 15px 0 0;
  }

  .active {
    border-bottom: 5px solid #1A9CC4;
  }

  li {
    float: left;
    font-size: 14px;
    line-height: 40px;
    margin-right: 15px;

    &:hover {
      border-bottom: 5px solid #1A9CC4;
    }

    a {
      color: #fff;
      font-size: 14px;
      font-weight: 100;
      padding: 14px 16px;
      text-align: center;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.search-box {
  float: right;
  margin-right: 20px;
  padding-top: 15px;

  .icon {
    background-color: #4199BA;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    float: left;
    margin-right: 0px;
    padding: 6.5px;
    padding-left: 12px;

    i {
      color: #C4DFEA;
      position: relative;
      top: -1px;
      left: -2px;
    }
  }

  .search {
    color: #000;
    font-size: 14px;

    input[type=text] {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      border: none;
      float: right;
      font-size: 14px;
      height: 28px;
      padding-left: 5px;
      width: 240px;
    }
  }
}

.search-results {
  background-color: #fff;
  box-sizing: border-box;
  color: #000;
  float: right;
  height: 0px;
  margin-right: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 10px;
  position: relative;
  top: -15px;
  transition-duration: 180ms;
  transition-property: height, margin;
  transition-timing-function: ease-in-out;
  width: 240px;

  &.visible {
    height: 170px;
    margin-bottom: 1em;
    padding-top: 0.2em;
  }

  li {
    line-height: 1.5;
    list-style-type: none;
  }
}



// End of subnav styles


.collapse, .header .logo-icon {
  display: none;
}

.container {
  > .navbar-header, > .navbar-collapse, > .navbar-header {
    display: block !important;
    height: auto !important;
    margin-left: 0;
    margin-right: 0;
    overflow: visible !important;
    padding-bottom: 0;
  }

  > .navbar-header {
    float: left;
  }
}

.container, .nav, .navbar, .navbar-header, .navbar-collapse {
  &::before, &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}


.content {
  padding-top: $header-height;

  h2, h3 {
    font-weight: 100;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1rem;
  }

  .example {
    margin-top: 40px;
  }

  > h3 {
    clear: both;
  }

  // prevent anchored side headings from being obscured by language selector
  h3.side {
    padding-top: 20px;
    &.example {
      margin-top: 20px;
    }
  }
  h1#introduction {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.header .navbar-default .navbar-nav {
  .active, li > a:hover {
    color: #fff;
  }
}

.tocify-focus {
  background-color: $librato-yellow;

  a {
    color: white;
  }
}

.lang-selector {
  margin-top: -20px;
}

// This is the currently selected ToC entry
.tocify-wrapper {
  margin-top: $header-height;
}

//hide intercom popup bubble
.intercom-launcher .intercom-launcher-hovercard {
  display: none !important;
}

.flash-info {
  background-color: #e4b722;
  height: 40px;
  color: #fff;
  padding: 10px;
}
